svg(class="external-Link", xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', viewbox='0 0 15 11', xml:space='preserve')
  g
    title 別タブで開くマーク
    desc クリックしたら別タブで開くマーク
    path.external_link_path(d='M12.5,0H0v8.5h12.5V0z M11.5,7.5H1v-5h10.5V7.5z M14,1.5V10H1.5v1H15V1.5H14z')
