svg(id='top-Mv_TtlSvg', data-name='', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 285.74 62.76')
  g
    title タイトル
    desc 何気ない「毎日」にこそ、こだわりを。
    defs
      style.
        .cls-1{fill:#ffd237;}.cls-2{fill:#0f1985;}
    path.cls-1(d='M150.33,6.68H132.86c.49-.55.65-.73,1-1.09h18.41V1.85H136.29c.21-.39.29-.55.62-1.3l-5-.42a12.47,12.47,0,0,1-4.94,5.75l2.42,3.85c.68-.52.94-.7,1.59-1.22-.08,1.85-.1,2.47-.21,3.67h-3.3V16h2.86a49.29,49.29,0,0,1-1.14,5.56h16.2a.85.85,0,0,1-1,.73H140.9l.57,2.94h3.59a4.9,4.9,0,0,0,3.67-1.14,4.43,4.43,0,0,0,1-2.52H152V17.76h-2c0-.21.1-1.51.13-1.79h2.26v-3.8h-2.13C150.39,10.19,150.33,7.77,150.33,6.68ZM138,17.76H134.6c.08-.65.1-.81.21-1.79h3.38C138.11,16.85,138.09,17.08,138,17.76Zm.47-5.59h-3.33c.05-1,.05-1.22.1-1.87h3.33C138.55,10.58,138.48,11.91,138.48,12.17Zm7.31,5.59h-3.46c.08-.7.08-.78.18-1.79h3.38C145.86,16.54,145.83,16.64,145.78,17.76Zm.23-5.59h-3.33c0-.49,0-.62,0-1.87H146C146,11.57,146,11.7,146,12.17Z')
    path.cls-1(d='M158.45,1.25v23h21.22v-23Zm16.64,18.69H162.94V14.61h12.14Zm0-9.46H162.94v-5h12.14Z')
    path.cls-2(d='M6.16,25.09V6.34A38,38,0,0,0,7.51.55L3.33.23C2.57,5.17,1.43,7.18,0,9L.88,15.5,2,14.17V25.09Z')
    path.cls-2(d='M18,6.66H7.75V18.82H18Zm-3.82,8.42H11.52V10.3h2.65Z')
    path.cls-2(d='M7.51,5.12H19.58V20c0,.83-.29,1-.94,1h-4l.68,4.08H21a2.61,2.61,0,0,0,2.86-2.76V5.12h1.43V1.07H7.51Z')
    path.cls-2(d='M53.2,16.93c-.52,1.46-1.17,3.33-1.9,3.33-.36,0-.52-.29-.52-2.91,0-2,.18-5.3.42-7.23H29.67v3.46h4.11l-2.7,3a38.58,38.58,0,0,1,3.72,2.26,22.4,22.4,0,0,1-5.15,2.37L32,25a36.21,36.21,0,0,0,6.24-3.56,28.79,28.79,0,0,1,3.64,3.33l3.25-3.17a32.39,32.39,0,0,0-3.48-2.94,24.82,24.82,0,0,0,3-3.35l-3.17-1.74h5a20.89,20.89,0,0,0-.16,2.83c0,4.16.39,8.76,4.19,8.76,2.76,0,4.13-3.51,4.32-4ZM38.38,16.3a32.85,32.85,0,0,0-4.58-2.73H41A14.33,14.33,0,0,1,38.38,16.3Z')
    path.cls-2(d='M34.09,6.34V9.2H52.47v-3H34.27c.21-.23.39-.44.81-.88H54.42V1.59H37.62c.18-.31.26-.44.57-1.07L33.41,0a15.09,15.09,0,0,1-4.26,4.81l2.31,4.06C32.16,8.24,32.94,7.51,34.09,6.34Z')
    path.cls-2(d='M76.65,9.91l-4.39-.08c0,1.38.08,2.26.18,4.5-.23,0-.52,0-1,0-4.39,0-6.24,2.63-6.24,5,0,3.12,2.86,4.86,6.27,4.86A6.25,6.25,0,0,0,76,22.59a4,4,0,0,0,1-2.37c1.2.7,1.92,1.17,3.17,2l2.13-3.9a24.74,24.74,0,0,0-5.38-3C76.88,14.61,76.67,10.79,76.65,9.91ZM71.11,20.28c-1,0-1.9-.34-1.9-1.09,0-.47.44-1,1.79-1a5.75,5.75,0,0,1,1.64.23C72.7,19.58,72.72,20.28,71.11,20.28Z')
    path.cls-2(d='M82.19,7.1a47,47,0,0,0-7.7-3.48l-1.9,3.72a25.67,25.67,0,0,1,7.67,3.8Z')
    path.cls-2(d='M63.1,20.38A123.73,123.73,0,0,0,67.89,8.76c2.11-.21,3.09-.36,4-.52l.26-4.42c-1,.18-1.53.29-2.7.44.13-.34.73-2.11.86-2.52L65.63.86c-.21.75-.29,1.07-1.09,3.82-2.18,0-2.44,0-4.65-.08L60,9.1c1.82,0,2.05,0,3,0a71.35,71.35,0,0,1-4.26,9.44Z')
    path.cls-2(d='M93.18,23.27c2.47,0,4.42-2,6.11-7.1L95.6,13.62s-1.2,4.29-2.18,4.29-1.85-2.68-1.85-7a37.93,37.93,0,0,1,.73-7.28l-4.73-.75a39.77,39.77,0,0,0-.78,7.8C86.79,20.67,90.77,23.27,93.18,23.27Z')
    path.cls-2(d='M104.57,4.32l-3.8,2.29c2.11,2.31,4.13,6.71,3.87,13l4.81-1.4C109.49,15.86,109.46,9.28,104.57,4.32Z')
    path.cls-2(d='M199.21,2a65.65,65.65,0,0,0-1.27,12.61,41,41,0,0,0,.86,9l4.55-.5a38,38,0,0,1-1-8.74,50.89,50.89,0,0,1,1.51-11.86Z')
    path.cls-2(d='M218.17,8.29l.13-4.45c-.91-.08-2.47-.23-4.78-.23a64.49,64.49,0,0,0-7.44.47L206,8.63a53.46,53.46,0,0,1,7.57-.55C215.78,8.09,217.41,8.22,218.17,8.29Z')
    path.cls-2(d='M209,16.54a4.33,4.33,0,0,1,.7-2l-3.82-.73a7,7,0,0,0-1,3.48c0,4.39,4.06,5.07,8.29,5.07a46.47,46.47,0,0,0,6-.47l.13-4.65a34.63,34.63,0,0,1-6.16.62C210.08,17.91,209,17.65,209,16.54Z')
    path.cls-2(d='M242.74,8.37,243,3.64a54,54,0,0,0-9.7-.86,56.19,56.19,0,0,0-6.24.34L226.9,7.9a49.67,49.67,0,0,1,6.55-.42A47.49,47.49,0,0,1,242.74,8.37Z')
    path.cls-2(d='M235.72,18.41c-1.69,0-6.45-.08-6.45-1.61,0-.91,1.27-1.87,2.63-2.7L229,11.31c-2.94,2-4.39,3.74-4.39,6,0,5.77,8.61,5.77,11.62,5.77a47.17,47.17,0,0,0,9-.81l-.31-4.94A40.54,40.54,0,0,1,235.72,18.41Z')
    path.cls-2(d='M273.81,11.86l-.36-4.26c-1.33.18-7.72,1-9.18,1.25L270.4,4.6l-1.61-3A75.09,75.09,0,0,1,258,2.31c-1.46,0-2.44,0-3.38-.05l.65,4.39A59.36,59.36,0,0,0,262.08,6l-5.33,3.8c-.86.13-4.94.68-5.88.81l.55,4.26c4.19-1,8.45-1.92,9.49-2.16a6.17,6.17,0,0,0-3,5.2,5.31,5.31,0,0,0,3.41,4.89A17.17,17.17,0,0,0,268.43,24l1.07-4.52c-.42,0-.83.05-1.46.05A13.21,13.21,0,0,1,264,19a1.86,1.86,0,0,1-1.46-1.77C262.52,16.12,263.67,12.4,273.81,11.86Z')
    path.cls-2(d='M280,17.5l-1,1.14a26.63,26.63,0,0,1,5.49,5l1.2-1.12A27.61,27.61,0,0,0,280,17.5Z')
    path.cls-2(d='M13.18,55.3c-1.69,0-6.45-.08-6.45-1.61,0-.91,1.27-1.87,2.63-2.7L6.42,48.21C3.48,50.21,2,52,2,54.19,2,60,10.63,60,13.65,60a47.17,47.17,0,0,0,9-.81l-.31-4.94A40.54,40.54,0,0,1,13.18,55.3Z')
    path.cls-2(d='M4.37,44.8a49.67,49.67,0,0,1,6.55-.42,47.49,47.49,0,0,1,9.28.88l.31-4.73a53.93,53.93,0,0,0-9.7-.86A56.44,56.44,0,0,0,4.58,40Z')
    path.cls-2(d='M39.42,55.1c0-.31.1-1,1.14-1.9l-3.43-1.27A5.78,5.78,0,0,0,35,56.11c0,4.47,6.34,4.47,8.45,4.47a53.43,53.43,0,0,0,5.82-.34V55.72a37.15,37.15,0,0,1-6,.55C40.2,56.27,39.42,55.9,39.42,55.1Z')
    path.cls-2(d='M46.1,37.88a20.45,20.45,0,0,1,2.76,5l2.31-1.2a22.9,22.9,0,0,0-2.89-4.89Z')
    path.cls-2(d='M37.86,49.79a40.54,40.54,0,0,1,5.46-.34c2.37,0,4,.18,5.23.29L49,45.53a44.46,44.46,0,0,0-4.89-.26,35.68,35.68,0,0,0-5.72.42Z')
    path.cls-2(d='M47.48,42.8a20,20,0,0,0-2.83-4.91L42.46,39a21.34,21.34,0,0,1,2.7,5Z')
    path.cls-2(d='M42.12,44.49l-.18-4.26a38.21,38.21,0,0,1-4.5.81c.18-.73.21-.94.6-2.94l-4.63-.39c-.21,1.38-.36,2.16-.68,3.69a48.83,48.83,0,0,1-5,0l0,4.45c2.16,0,2.89,0,4-.08a68.17,68.17,0,0,1-4.81,13.13l4.39,1.74c2.29-4.63,4-11,5.1-15.24C36.84,45.32,38.87,45.11,42.12,44.49Z')
    path.cls-2(d='M70.54,42.17a10.6,10.6,0,0,0-6,1.85c0-1,0-1.51.16-5.82H60.29l0,3.85a41.36,41.36,0,0,1-4.37.23l.44,4.55c1.87-.16,3.2-.36,3.9-.49V47c-.6.75-1.51,2-2.11,2.73C57,51.2,56,52.6,54.83,54l3.25,3.12c1-1.66,1.4-2.18,2.13-3.25l0,7h4.39c-.05-4.11-.13-8.24-.08-11.93a9,9,0,0,1,5.64-2.52,3.45,3.45,0,0,1,3.64,3.67c0,3.82-3.48,5.56-7.25,5.77l1.59,4.37c5.12-.57,10.35-3.48,10.35-10C78.47,44.44,74.23,42.17,70.54,42.17Z')
    path.cls-2(d='M96,38.59c.26,2.94.47,5.3.47,8.14,0,5.28-.81,8.45-7.23,11.44l3.9,3.25c6.45-3.25,8.11-7.38,8.11-14.2,0-3.54-.34-7.1-.47-8.63Z')
    path.cls-2(d='M89.44,45.24l-1.33,2.47a49,49,0,0,1,1-8.66l-4.68-.49a47.22,47.22,0,0,0-.83,8.58,25.23,25.23,0,0,0,1.14,8.27L88.5,55a27,27,0,0,1,3.22-7.67Z')
    path.cls-2(d='M127.19,44.9c-2.57,1-2.89,1.09-5.75,2.26a4.58,4.58,0,0,0-4.13-2.08,7,7,0,0,0-1.64.21c.08-.13.44-.73.52-.88,2.47-.13,4.73-.26,9.44-.88l.1-4.16a56.33,56.33,0,0,1-7.07,1c.68-1.14.75-1.27,1-1.59l-4.42-1c-.7,1.46-.94,2-1.4,2.78h-1.12c-1.9,0-3.41-.08-4.6-.13l-.1,4.19c1.74,0,2.26,0,3.51,0a47.64,47.64,0,0,1-4.76,6.58l3.43,2.44c1.77-2.57,3.51-5.12,6.11-5.12a1.91,1.91,0,0,1,1.33.47c-2.55,1.3-6.14,3.15-6.14,6.73a4.71,4.71,0,0,0,3.17,4.45c.68.26,2,.73,5.75.73a55.48,55.48,0,0,0,6.29-.42l.42-4.39a46.2,46.2,0,0,1-7.75.78c-2.39,0-3.59-.31-3.59-1.4,0-.81.75-1.46,2.37-2.37,0,1,0,1.38-.1,2.6l4.24-.13c0-2.16.05-3,0-4.34.68-.29,4.13-1.56,6.55-2.37Z')
    path.cls-2(d='M137.85,55.27A3.74,3.74,0,1,0,141.62,59,3.74,3.74,0,0,0,137.85,55.27Zm0,6.32A2.57,2.57,0,1,1,140.43,59,2.56,2.56,0,0,1,137.85,61.59Z')
    path.cls-2(d='M189.37,15.28a.46.46,0,0,0-.46.46v7.91H185a.46.46,0,1,0,0,.93h4.37a.46.46,0,0,0,.46-.46V15.74A.46.46,0,0,0,189.37,15.28Z')
    path.cls-2(d='M119,9.58a.46.46,0,0,0,.46-.46V1.2h3.91a.46.46,0,0,0,0-.93H119a.46.46,0,0,0-.46.46V9.11A.46.46,0,0,0,119,9.58Z')
svg(id='top-Mv_TtlSvgSp', data-name='', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 161 100')
  g
    title タイトル
    desc 何気ない「毎日」にこそ、こだわりを。
    defs
      style.
        .cls-1{fill:#ffd237;}.cls-2{fill:#0f1985;}
    path.cls-1(d='M32,43.58H14.48c.49-.55.65-.73,1-1.09H33.85V38.74H17.91c.21-.39.29-.55.62-1.3l-5-.42a12.47,12.47,0,0,1-4.94,5.75L11,46.62c.68-.52.94-.7,1.59-1.22-.08,1.85-.1,2.47-.21,3.67H9v3.8h2.86a49.3,49.3,0,0,1-1.14,5.56H27a.85.85,0,0,1-1,.73H22.52l.57,2.94h3.59a4.9,4.9,0,0,0,3.67-1.14,4.44,4.44,0,0,0,1-2.52h2.29V54.65h-2c0-.21.1-1.51.13-1.79h2.26v-3.8H32C32,47.09,32,44.67,32,43.58ZM19.63,54.65H16.22c.08-.65.1-.81.21-1.79h3.38C19.73,53.74,19.71,54,19.63,54.65Zm.47-5.59H16.77c.05-1,.05-1.22.1-1.87H20.2C20.18,47.48,20.1,48.8,20.1,49.06Zm7.31,5.59H23.95c.08-.7.08-.78.18-1.79h3.38C27.48,53.43,27.46,53.54,27.4,54.65Zm.23-5.59H24.31c0-.49,0-.62,0-1.87h3.3C27.66,48.47,27.66,48.6,27.64,49.06Z')
    path.cls-1(d='M39.55,38.14v23H60.76v-23ZM56.19,56.84H44V51.51H56.19Zm0-9.46H44v-5H56.19Z')
    path.cls-2(d='M18,6.66H7.75V18.82H18Zm-3.82,8.42H11.52V10.3h2.65Z')
    path.cls-2(d='M2,14.17V25.09H6.16V6.34A38,38,0,0,0,7.51.55L3.33.23C2.57,5.17,1.43,7.18,0,9L.88,15.5Z')
    path.cls-2(d='M7.51,5.12H19.58V20c0,.83-.29,1-.94,1h-4l.68,4.08H21a2.61,2.61,0,0,0,2.86-2.76V5.12h1.43V1.07H7.51Z')
    path.cls-2(d='M51.3,20.25c-.36,0-.52-.29-.52-2.91,0-2,.18-5.3.42-7.23H29.67v3.46h4.11l-2.7,3a38.58,38.58,0,0,1,3.72,2.26,22.38,22.38,0,0,1-5.15,2.37L32,25a36.13,36.13,0,0,0,6.24-3.56,28.66,28.66,0,0,1,3.64,3.33l3.25-3.17a32.5,32.5,0,0,0-3.48-2.94,24.91,24.91,0,0,0,3-3.35l-3.17-1.74h5a20.89,20.89,0,0,0-.16,2.83c0,4.16.39,8.76,4.19,8.76,2.76,0,4.13-3.51,4.32-4L53.2,16.93C52.68,18.38,52,20.25,51.3,20.25Zm-12.92-4a32.85,32.85,0,0,0-4.58-2.73H41A14.33,14.33,0,0,1,38.38,16.3Z')
    path.cls-2(d='M34.09,6.34V9.2H52.47v-3H34.27c.21-.23.39-.44.81-.88H54.42V1.59H37.62c.18-.31.26-.44.57-1.07L33.41,0a15.1,15.1,0,0,1-4.26,4.81l2.31,4.06C32.16,8.24,32.94,7.51,34.09,6.34Z')
    path.cls-2(d='M82.19,7.1a47,47,0,0,0-7.7-3.48l-1.9,3.72a25.67,25.67,0,0,1,7.67,3.8Z')
    path.cls-2(d='M63.1,20.38A124,124,0,0,0,67.89,8.76c2.11-.21,3.09-.36,4-.52l.26-4.42c-1,.18-1.53.29-2.7.44.13-.34.73-2.11.86-2.52L65.62.86c-.21.75-.29,1.07-1.09,3.82-2.18,0-2.44,0-4.65-.08L60,9.1c1.82,0,2.05,0,3,0a71.56,71.56,0,0,1-4.26,9.44Z')
    path.cls-2(d='M71.47,14.3c-4.39,0-6.24,2.63-6.24,5,0,3.12,2.86,4.86,6.27,4.86A6.25,6.25,0,0,0,76,22.59a4,4,0,0,0,1-2.37c1.2.7,1.92,1.17,3.17,2l2.13-3.9a24.74,24.74,0,0,0-5.38-3c0-.78-.23-4.6-.26-5.49l-4.39-.08c0,1.38.08,2.26.18,4.5C72.2,14.33,71.92,14.3,71.47,14.3Zm-.36,6c-1,0-1.9-.34-1.9-1.09,0-.47.44-1,1.79-1a5.75,5.75,0,0,1,1.64.23C72.7,19.58,72.72,20.28,71.11,20.28Z')
    path.cls-2(d='M93.18,23.27c2.47,0,4.42-2,6.11-7.1L95.6,13.62s-1.2,4.29-2.18,4.29-1.85-2.68-1.85-7a38,38,0,0,1,.73-7.28l-4.73-.75a39.77,39.77,0,0,0-.78,7.8C86.79,20.67,90.77,23.27,93.18,23.27Z')
    path.cls-2(d='M109.46,18.2c0-2.34,0-8.92-4.89-13.88l-3.8,2.29c2.11,2.31,4.13,6.71,3.88,13Z')
    path.cls-2(d='M99.29,58.84l.13-4.65a34.63,34.63,0,0,1-6.16.62c-3.12,0-4.16-.26-4.16-1.38a4.33,4.33,0,0,1,.7-2L86,50.75a7,7,0,0,0-1,3.48c0,4.39,4.06,5.07,8.29,5.07A46.52,46.52,0,0,0,99.29,58.84Z')
    path.cls-2(d='M79.27,38.9A65.63,65.63,0,0,0,78,51.51a41,41,0,0,0,.86,9L83.41,60a38,38,0,0,1-1-8.74A50.89,50.89,0,0,1,84,39.42Z')
    path.cls-2(d='M98.23,45.19l.13-4.45c-.91-.08-2.47-.23-4.78-.23a64.49,64.49,0,0,0-7.44.47L86,45.53A53.46,53.46,0,0,1,93.6,45C95.84,45,97.47,45.11,98.23,45.19Z')
    path.cls-2(d='M125.22,59.15l-.31-4.94a40.54,40.54,0,0,1-9.13,1.09c-1.69,0-6.45-.08-6.45-1.61,0-.91,1.27-1.87,2.63-2.7L109,48.21c-2.94,2-4.39,3.74-4.39,6,0,5.77,8.61,5.77,11.62,5.77A47.17,47.17,0,0,0,125.22,59.15Z')
    path.cls-2(d='M107,44.8a49.67,49.67,0,0,1,6.55-.42,47.49,47.49,0,0,1,9.28.88l.31-4.73a53.93,53.93,0,0,0-9.7-.86,56.44,56.44,0,0,0-6.24.34Z')
    path.cls-2(d='M152.31,48.75l-.36-4.26c-1.33.18-7.72,1-9.18,1.25l6.14-4.24-1.61-3a75.24,75.24,0,0,1-10.79.68c-1.46,0-2.44,0-3.38-.05l.65,4.39a59.1,59.1,0,0,0,6.81-.62l-5.33,3.8c-.86.13-4.94.68-5.88.81l.55,4.26c4.19-1,8.45-1.92,9.49-2.16a6.17,6.17,0,0,0-3,5.2,5.31,5.31,0,0,0,3.41,4.89,17.15,17.15,0,0,0,7.13,1.17L148,56.37c-.42,0-.83.05-1.46.05a13.24,13.24,0,0,1-4.06-.57A1.86,1.86,0,0,1,141,54.08C141,53,142.17,49.3,152.31,48.75Z')
    path.cls-2(d='M156.41,56.47l-.8.92a21.45,21.45,0,0,1,4.43,4l1-.9A22.26,22.26,0,0,0,156.41,56.47Z')
    path.cls-2(d='M4.37,81.7a49.68,49.68,0,0,1,6.55-.42,47.48,47.48,0,0,1,9.28.88l.31-4.73a54,54,0,0,0-9.7-.86,56.42,56.42,0,0,0-6.24.34Z')
    path.cls-2(d='M13.18,92.2c-1.69,0-6.45-.08-6.45-1.61,0-.91,1.27-1.87,2.63-2.7L6.42,85.1c-2.94,2-4.39,3.74-4.39,6,0,5.77,8.61,5.77,11.62,5.77a47.16,47.16,0,0,0,9-.81l-.31-4.94A40.55,40.55,0,0,1,13.18,92.2Z')
    path.cls-2(d='M43.16,81.38,43,77.12a38.21,38.21,0,0,1-4.5.81c.18-.73.21-.94.6-2.94l-4.63-.39c-.21,1.38-.36,2.16-.68,3.69a48.83,48.83,0,0,1-5,0l0,4.45c2.16,0,2.89,0,4-.08A68.17,68.17,0,0,1,28,95.76l4.39,1.74c2.29-4.63,4-11,5.1-15.24C37.88,82.22,39.91,82,43.16,81.38Z')
    path.cls-2(d='M47.14,74.78a20.45,20.45,0,0,1,2.76,5l2.31-1.2a22.9,22.9,0,0,0-2.89-4.89Z')
    path.cls-2(d='M38.9,86.69a40.54,40.54,0,0,1,5.46-.34c2.37,0,4,.18,5.23.29L50,82.42a44.46,44.46,0,0,0-4.89-.26,35.68,35.68,0,0,0-5.72.42Z')
    path.cls-2(d='M48.52,79.69a20,20,0,0,0-2.83-4.91L43.5,75.85a21.34,21.34,0,0,1,2.7,5Z')
    path.cls-2(d='M40.46,92c0-.31.1-1,1.14-1.9l-3.43-1.27A5.78,5.78,0,0,0,36.09,93c0,4.47,6.34,4.47,8.45,4.47a53.43,53.43,0,0,0,5.82-.34V92.62a37.15,37.15,0,0,1-6,.55C41.24,93.16,40.46,92.8,40.46,92Z')
    path.cls-2(d='M72.1,79.07a10.6,10.6,0,0,0-6,1.85c0-1,0-1.51.16-5.82H61.85l0,3.85a41.38,41.38,0,0,1-4.37.23l.44,4.55c1.87-.16,3.2-.36,3.9-.49v.7c-.6.75-1.51,2-2.11,2.73-1.09,1.43-2.18,2.83-3.3,4.26L59.64,94c1-1.66,1.4-2.18,2.13-3.25l0,7h4.39c-.05-4.11-.13-8.24-.08-11.93a9,9,0,0,1,5.64-2.52A3.45,3.45,0,0,1,75.35,87c0,3.82-3.48,5.56-7.25,5.77l1.59,4.37C74.8,96.54,80,93.63,80,87.11,80,81.33,75.79,79.07,72.1,79.07Z')
    path.cls-2(d='M99.09,75.48c.26,2.94.47,5.3.47,8.14,0,5.28-.81,8.45-7.23,11.44l3.9,3.25c6.45-3.25,8.11-7.38,8.11-14.2,0-3.54-.34-7.1-.47-8.63Z')
    path.cls-2(d='M92.56,82.14l-1.33,2.47a49,49,0,0,1,1-8.66l-4.68-.49A47.22,47.22,0,0,0,86.76,84a25.23,25.23,0,0,0,1.14,8.27l3.72-.36a27,27,0,0,1,3.22-7.67Z')
    path.cls-2(d='M130.31,81.8c-2.57,1-2.89,1.09-5.75,2.26A4.58,4.58,0,0,0,120.43,82a7,7,0,0,0-1.64.21c.08-.13.44-.73.52-.88,2.47-.13,4.73-.26,9.44-.88l.1-4.16a56.33,56.33,0,0,1-7.07,1c.68-1.14.75-1.27,1-1.59l-4.42-1c-.7,1.46-.94,2-1.4,2.78H115.8c-1.9,0-3.41-.08-4.6-.13l-.1,4.19c1.74,0,2.26,0,3.51,0A47.64,47.64,0,0,1,109.85,88l3.43,2.44c1.77-2.57,3.51-5.12,6.11-5.12a1.91,1.91,0,0,1,1.33.47c-2.55,1.3-6.14,3.15-6.14,6.73A4.71,4.71,0,0,0,117.75,97c.68.26,2,.73,5.75.73a55.48,55.48,0,0,0,6.29-.42l.42-4.39a46.2,46.2,0,0,1-7.75.78c-2.39,0-3.59-.31-3.59-1.4,0-.81.75-1.46,2.37-2.37,0,1,0,1.38-.1,2.6l4.24-.13c0-2.16.05-3,0-4.34.68-.29,4.13-1.56,6.55-2.37Z')
    path.cls-2(d='M141,92.86a3.74,3.74,0,1,0,3.77,3.74A3.74,3.74,0,0,0,141,92.86Zm0,6.32a2.57,2.57,0,1,1,2.57-2.57A2.56,2.56,0,0,1,141,99.18Z')
    path.cls-2(d='M70.79,52v7.91H66.88a.46.46,0,0,0,0,.93h4.37a.46.46,0,0,0,.46-.46V52a.46.46,0,0,0-.93,0Z')
    path.cls-2(d='M5.25,37.49a.46.46,0,0,0,0-.93H.88A.46.46,0,0,0,.42,37V45.4a.46.46,0,0,0,.93,0V37.49Z')
