- var ootsuka = "大塚 美鈴";
- var ootsuka_dep = "営業本部";
- var ootsuka_team = "東京営業部 新宿・千代田チーム";
- var ootsuka_position = "ストアアドバイザー";
- var ootsuka_position_sp = "営業本部 ストアアドバイザー";
- var inoue = "井上 由希恵";
- var inoue_dep = "商品本部";
- var inoue_team = "インストア商品開発部";
- var inoue_position = "インストアスイーツチーム";
- var inoue_position_sp = "インストア商品開発部 マーチャンダイザー";
- var noguchi = "野口 穣";
- var noguchi_dep = "開発本部";
- var noguchi_team = "千葉・埼玉・北関東開発部";
- var noguchi_position = "千葉・埼玉・北関東開発チーム";
- var noguchi_position_sp = "開発本部 開発担当";
- var sakurai = "櫻井 誠";
- var sakurai_team = "第二商品本部 サービス・デジタル推進部";
- var sakurai_position = "サービス・デジタル推進部担当";
