.ircrt-Wrapper {
  background-color: $Bg;
}

@include min-screen($BREAK_POINT_TABLET) {
  .ircrt-Wrapper {
    min-width: 1024px;
  }
}

.ircrt-Mv {
  //領域全体を覆う
  height: 578px;
  background: url("../img/information/ircrt-mv_bgimg.png")no-repeat center top 0;
  //fixedはスクロール時にレイヤーを感じさせるやつ
  //left bottom 背景画像を左下スタートで固定 http://kumacrow.blog111.fc2.com/blog-entry-296.html
  background-size: cover;

  .ircrt-Mv_Inner {
    padding: 245px 15% 200px;

    .ircrt-Mv_Ttl {
      h1 {
        margin-bottom: 0;
      }
    }

    .ircrt-Mv_Subttl {
      font-size: 24px;
      font-weight: 600;
      color: $Blue;
    }
  }
}

@include max-screen($BREAK_POINT_TABLET) {
  .ircrt-Mv {
    height: 378px;

    .ircrt-Mv_Inner {
      padding: 145px 15% 50px;

      .ircrt-Mv_Ttl {
        img {
          width: 182px;
        }
      }

      .ircrt-Mv_Subttl {
        font-size: 16px;
      }
    }
  }
}

@include max-screen($BREAK_POINT_SP_iPhone6) {
  .ircrt-Mv {
    height: 282px;

    .ircrt-Mv_Inner {
      padding: 97px 15% 50px;
    }
  }
}

.ircrt-Contents {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 15px;
  background-color: #fff;

  &:before {
    position: absolute;
    z-index: $Z_CONTENTS_TOP_BLOCK;
    top: -59px;
    width: 100%;
    height: 60px;
    content: "";
    background-color: #fff;
  }

  .ircrt-Contents_Inner {
    padding: 0 116px 93px;

    .ircrt-Contents_BlockLink {
      width: 100%;
      padding-top: 60px;

      .ircrt-Contents_BlockLinkInner {
        display: flex;
        background-color: #f9fafc;

        justify-content: center;

        .ircrt-Contents_BlockLinkSec {
          padding-top: 20px;
          padding-bottom: 20px;
          a {
            position: relative;
            padding-right: 42px;
            font-size: 14px;
            text-decoration: none;

            &:after {
              position: absolute;
              top: -2px;
              right: 23px;
              display: inline-block;
              height: 20px;
              content: "\f078";
              font-family: FontAwesome;
              font-size: 13px;
              color: $Blue;
            }
          }
        }
      }
      &:nth-child(2) {
        padding-top: 0px;
      }
    }

    .ircrt-Contents_Block {
      padding-top: 72px;
      .ircrt-Contents_Ttl {
        h2 {
          margin-bottom: 0;
          padding-bottom: 29px;
          font-size: 32px;
          font-weight: 300;
          color: $Blue;
          border-bottom: 1px solid #d6d6d6;
        }
      }
      .ircrt-Contents_SubTtl {
        h3 {
          margin-bottom: 0;
          padding-top: 34px;
          font-size: 32px;
          font-weight: 300;

          span {
            padding-left: 25px;
            font-size: 16px;
          }
        }
      }
      .ircrt-Contents_TableWrapper {
        padding-top: 20px;

        table {
          border-collapse: collapse;
          tr {
            th {
              width: 12.8%;
              padding-top: 4px;
              padding-bottom: 22px;
              font-weight: 100;
              text-align: left;
              vertical-align: top;
              color: #999;
            }
            td {
              width: 87.1%;
              padding-bottom: 22px;
              line-height: 1.8;
              vertical-align: top;
              letter-spacing: -0.3px;

              span {
                display: block;
                font-size: 12px;
                letter-spacing: 0.1px;
                color: #fe0000;
              }
              span.color-black {
                font-size: 12px;
                color: #111;
              }
              span.program {
                font-size: 15px;
                color: #111;
              }
              span.insentive {
                padding-top: 8px;
                font-weight: 600;
              }
              ul {
                margin: 0;
                margin-left: -12px;
              }
              .sp-img {
                display: none;
              }
            }
          }
        }

        table.table-column3 {
          tr {
            th {
              width: 12.8%;
            }
            td {
              &:nth-child(2) {
                width: 44.3%;
                padding-right: 100px;
              }
              &:nth-child(3) {
                width: 42.8%;
              }
            }
          }

          tr.ircrt-Contents_TableTr {
            vertical-align: middle;
            th.ircrt-Contents_TableTh {
              padding: 10px 0;
            }
            td.ircrt-Contents_TableHd {
              padding: 10px 16px;
              vertical-align: middle;
              border-top: 1px #e1e1e3 solid;
              border-bottom: 1px #e1e1e3 solid;
              background-color: #fafafa;
              &:last-child {
                border-left: 1px #e1e1e3 solid;
              }
            }
            td.ircrt-Contents_TableDt {
              padding: 10px 16px;
              vertical-align: middle;
              border-top: 1px #e1e1e3 solid;
              border-bottom: 1px #e1e1e3 solid;

              &:last-child {
                border-left: 1px #e1e1e3 solid;
              }
            }
          }
          tr.adjust {
            padding-top: 22px;
            th, td {
              padding-top: 22px;
            }
          }
        }

      table.table-column5 {
        tr {
          th {
            width: 6.6%;
          }
          td {
            width: 44.3%;
            padding-right: 100px;
          }
        }
      }

      }
      .ircrt-Contents_BtnWrapper.btn_EntryWrapper {
        width: 190px;
        margin-top: 5px;
      }
      .ircrt-Contents_BannerWrapper {
        .sp-img {
          display: none;
        }
      }
      .ircrt-Contents_TxtWrapper {
        padding-top: 20px;
        a {
          display: inline;
          padding-top: 30px;

          .external-Link {
            width: 12px;
            height: 9px;
            margin-bottom: 1px;
            margin-left: 6px;
            font-size: 12px;

            fill: #101010;
          }
        }
      }
    }
  }
}

@include max-screen($CONTENT_WIDTH) {
  .ircrt-Contents {
    max-width: 1024px;

    &:before {
      position: absolute;
      z-index: $Z_CONTENTS_TOP_BLOCK;
      top: -59px;
      width: 100%;
      height: 60px;
      content: "";
      background-color: #fff;
    }

    .ircrt-Contents_Inner {
      padding: 0 80px 93px;

      .ircrt-Contents_Block {
        padding-top: 72px;

        .ircrt-Contents_Ttl {
          h2 {
            margin-bottom: 0;
            padding-bottom: 29px;
            font-size: 32px;
            font-weight: 300;
            color: $Blue;
            border-bottom: 1px solid #d6d6d6;
          }
        }
        .ircrt-Contents_SubTtl {
          h3 {
            margin-bottom: 0;
            padding-top: 34px;
            font-size: 32px;
            font-weight: 300;

            span {
              padding-left: 25px;
              font-size: 16px;
            }
          }
        }
        .ircrt-Contents_TableWrapper {
          padding-top: 20px;

          table {
            border-collapse: collapse;
            tr {
              th {
                width: 12.8%;
                padding-top: 4px;
                padding-bottom: 22px;
                font-weight: 100;
                text-align: left;
                vertical-align: top;
                color: #999;
              }
              td {
                width: 87.1%;
                padding-bottom: 22px;
                line-height: 1.8;
                vertical-align: top;
                letter-spacing: -0.3px;

                span {
                  display: block;
                  font-size: 12px;
                  letter-spacing: 0.1px;
                  color: #fe0000;
                }
                span.color-black {
                  font-size: 12px;
                  color: #111;
                }
                span.program {
                  font-size: 15px;
                  color: #111;
                }
                ul {
                  margin-top: 0;
                }

                img {
                  width: 100%;
                }
              }
            }
          }

          table.table-column3 {
            tr {
              th {
                width: 12.8%;
              }
              td {
                &:nth-child(2) {
                  width: 44.3%;
                  padding-right: 100px;
                }
                &:nth-child(3) {
                  width: 42.8%;
                }
              }
            }
          }
          table.table-column5 {
            tr {
              th {
                width: 6.6%;
              }
              td {
                width: 44.3%;
                padding-right: 100px;
              }
            }
          }
        }
        .ircrt-Contents_BtnWrapper.btn_EntryWrapper {
          width: 190px;
          margin-top: 5px;
        }
        .ircrt-Contents_BannerWrapper {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

@include max-screen($BREAK_POINT_TABLET) {
  .ircrt-Contents {
    max-width: 1024px;

    &:before {
      display: none;
    }

    .ircrt-Contents_Inner {
      padding: 0 40px 93px;

      .ircrt-Contents_BlockLink {
        width: 100%;
        padding-top: 60px;

        .ircrt-Contents_BlockLinkInner {
          display: block;
          padding: 30px 0 18px;
          background-color: #f9fafc;

          .ircrt-Contents_BlockLinkSec {
            padding-top: 0;
            padding-bottom: 14px;
            text-align: center;
            a {
              position: relative;
              padding-right: 20px;
              font-size: 14px;
              text-decoration: none;

              &:after {
                position: absolute;
                top: 0;
                right: 3px;
                display: inline-block;
                height: 20px;
                content: "\f078";
                font-family: FontAwesome;
                font-size: 12px;
                color: $Blue;
              }
            }
          }
        }
        &:nth-child(1) {
          .ircrt-Contents_BlockLinkInner {
            padding: 30px 0 0;
          }
        }
        &:nth-child(2) {
          padding-top: 0px;
          .ircrt-Contents_BlockLinkInner {
            padding: 0 0 30px;
          }
        }
      }

      .ircrt-Contents_Block {
        padding-top: 72px;
        .ircrt-Contents_Ttl {
          h2 {
            margin-bottom: 0;
            padding-bottom: 29px;
            font-size: 32px;
            font-weight: 300;
            color: $Blue;
            border-bottom: 1px solid #d6d6d6;
          }
        }
        .ircrt-Contents_SubTtl {
          h3 {
            margin-bottom: 0;
            padding-top: 34px;
            font-size: 32px;
            font-weight: 300;

            span {
              padding-left: 25px;
              font-size: 16px;
            }
          }
        }
        .ircrt-Contents_TableWrapper {
          padding-top: 20px;

          table {
            border-collapse: collapse;
            tr {
              th {
                width: 90px;
                min-width: 90px;
                margin-right: 14px;
                padding-top: 4px;
                padding-bottom: 22px;
                font-weight: 100;
                text-align: left;
                vertical-align: top;
                color: #999;
              }
              td {
                width: 87.1%;
                padding-bottom: 22px;
                line-height: 1.8;
                vertical-align: top;
                letter-spacing: -0.3px;

                span {
                  display: block;
                  font-size: 12px;
                  letter-spacing: 0.1px;
                  color: #fe0000;
                }
                span.color-black {
                  font-size: 12px;
                  color: #111;
                }
                span.program {
                  font-size: 15px;
                  color: #111;
                }
                ul {
                  margin-top: 0;
                }

                img {
                  width: 100%;
                }
              }
            }
          }

          table.table-column3 {
            tr {
              th {
                width: 12.8%;
              }
              td {
                &:nth-child(2) {
                  width: 44.3%;
                  padding-right: 100px;
                }
                &:nth-child(3) {
                  width: 42.8%;
                }
              }
            }
            tr.ircrt-Contents_TableTr {
              vertical-align: top;
              th.ircrt-Contents_TableTh {
                padding: 10px 0;
              }
              td.ircrt-Contents_TableHd {
                padding: 10px 12px;
                vertical-align: top;
                border-top: 1px #e1e1e3 solid;
                border-bottom: 1px #e1e1e3 solid;
                background-color: #fafafa;
                &:last-child {
                  border-left: 1px #e1e1e3 solid;
                }
              }
              td.ircrt-Contents_TableDt {
                padding: 10px 12px;
                vertical-align: top;
                border-top: 1px #e1e1e3 solid;
                border-bottom: 1px #e1e1e3 solid;

                &:last-child {
                  border-left: 1px #e1e1e3 solid;
                }
              }
            }
          }

          table.table-column5 {
            tr {
              th {
                width: 2%;
              }
              td {
                width: 44.3%;
                padding-right: 0px;
              }
            }
          }

        }
        .ircrt-Contents_BtnWrapper.btn_EntryWrapper {
          width: 190px;
          margin-top: 5px;
        }
        .ircrt-Contents_BannerWrapper {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

@include max-screen($BREAK_POINT_SP_iPhone6) {
  .ircrt-Contents {
    max-width: 1024px;

    &:before {
      display: none;
    }

    .ircrt-Contents_Inner {
      padding: 0 22px 62px;

      .ircrt-Contents_Block {
        padding-top: 61px;
        .ircrt-Contents_Ttl {
          h2 {
            margin-bottom: 0;
            padding-bottom: 11px;
            font-size: 24px;
            font-weight: 300;
            color: $Blue;
            border-bottom: 1px solid #d6d6d6;
          }
        }
        .ircrt-Contents_Ttl.not-Border {
          h2 {
            border-bottom: 0 solid #fff;
          }
        }
        .ircrt-Contents_SubTtl {
          h3 {
            margin-bottom: 0;
            padding-top: 26px;
            font-size: 24px;
            font-weight: 300;

            span {
              display: block;
              padding-top: 10px;
              padding-left: 0;
              font-size: 16px;
            }
          }
        }
        .ircrt-Contents_TableWrapper {
          padding-top: 20px;

          table {
            border-collapse: collapse;
            tr {
              th {
                width: 90px;
                min-width: 90px;
                margin-right: 14px;
                padding-top: 4px;
                padding-bottom: 22px;
                font-size: 14px;
                font-weight: 100;
                text-align: left;
                vertical-align: top;
                color: #999;
              }
              td {
                width: 87.1%;
                padding-bottom: 22px;
                font-size: 14px;
                line-height: 1.8;
                vertical-align: top;
                letter-spacing: -0.3px;

                span {
                  display: block;
                  font-size: 12px;
                  letter-spacing: 0.1px;
                  color: #fe0000;
                }
                span.color-black {
                  font-size: 12px;
                  color: #111;
                }
                span.color-black_sp {
                  display: inline;
                }
                span.program {
                  font-size: 15px;
                  color: #111;
                }
                ul {
                  margin-top: 0;
                }

                .sp-img {
                  display: block;
                }
                .pc-img {
                  display: none;
                }

                img {
                  width: 90%;
                }
              }
              .add-Line {
                display: none;
              }
            }
          }

          table.table-column3 {
            tr {
              th {
                width: 12.8%;
              }
              td {
                &:nth-child(2) {
                  width: 44.3%;
                  padding-right: 15px;
                }
                &:nth-child(3) {
                  width: 42.8%;
                }
              }
            }
          }

          table.table-column5 {
            tr {
              th {
                width: 0.6%;
              }
              td {
                width: 44.3%;
                padding-right: 0px;
              }
            }
          }

        }
        .ircrt-Contents_BtnWrapper.btn_EntryWrapper {
          width: 190px;
          margin: 5px auto 0;
          margin-top: 5px;
        }
        .ircrt-Contents_BannerWrapper {
          .sp-img {
            display: block;
            margin: 0 auto;
            padding-top: 20px;

            img {
              text-align: center;
            }
          }

          .pc-img {
            display: none;
          }

          img {
            width: 95%;
          }
        }
        .ircrt-Contents_TxtWrapper {
          padding-left: 10px;
          font-size: 14px;
          a {
            .external-Link {
              width: 12px;
              height: 9px;
              margin-bottom: 0;
              margin-left: 6px;
              font-size: 12px;

              fill: #101010;
            }
          }
        }
      }
    }
  }
}
