// z-index
// 参照169p

// $Z_ST_HEADER: 20;

// SP_navi
$Z_SP_NAVI_MENU_BTN_WRAPPER: 23;
$Z_SP_NAVI_MENU_BTN: 22;
$Z_SP_NAVI_MENU: 21;
$Z_SP_NAVI_MENU_OVERLAY: 20;

// PC header ホバー時ドロップダウンメニュー
$Z_TOP_PC_DROPMENU: 4;

// top
$Z_TOP_PC_MV_TTL: 3;

// top 丸矢印ホバースライド
$Z_TOP_CIRCLE_HOVER_SLIDE: 10;
$Z_TOP_CIRCLE_HOVER_SLIDE_SPAN: 11;
$Z_TOP_CIRCLE_HOVER_SLIDE_ARROW: 12;

// top
// interview_index
$Z_MEMBER_NAME: 1;

// 下層ページ
$Z_CONTENTS_TOP_BLOCK: 1;

// message_company
$Z_TOP_YELLOW_BLOCK: 1;
$Z_TOP_IMG: 2;
$Z_TOP_TXT_WRAPPER: 3;

// message_recruit
$Z_MESSAGE_IMG: 2;
$Z_MESSAGE_YELLOW_UNDER_IMG: 1;

// aboutus_features
$Z_ABOUTUS_FEAT_LINE: 1;
$Z_ABOUTUS_FEAT_ABOVE_LINE: 2;

// interview_detail_index
$Z_INTERVIEW_DETAIL_MV_NAME_YELLOW_GB: -1;
$Z_INTERVIEW_DETAIL_CAPTION: 1;
$Z_INTERVIEW_DETAIL_TXT_ON_YELLOW: 2;
