// 役割をわかりやすくするために、ヘッダー・フッターのコンポーネントにはst-をプレフィックスにつける（p142）

// st-footer

.st-Footer {
  padding: 140px 200px 70px;
  color: #fff;
  background-color: #001a89;

  .st-Footer_WrapperTop {
    margin-bottom: 36px;

    .st-Footer_TableWrapper {
      @extend .clearfix;

      .st-Footer_Table {
        float: left;
        table-layout: fixed;
        border-collapse: collapse;
        // (firefoxでthが崩れすから修正した_2)
        width: 62%;

        .st-Footer_Tr {
          .st-Footer_Th {
            width: 29%;
            padding-bottom: 22px;
            font-size: 14px;
            text-align: left;
            color: #6877b9;
          }
          .st-Footer_Td {
            position: relative;
            padding-bottom: 12px;
            padding-left: 26px;
            font-size: 13px;
            color: #fff;


            a {
              text-decoration: none;
              color: #fff;
            }

            &:before {
              position: absolute;
              top: -1px;
              left: 0;
              display: inline-block;
              content: "\f138";
              font-family: FontAwesome;
              font-size: 17px;
              color: #fff;
              padding-left: 2px;
            }
          }
        }
      }
      .st-Footer_LogoEntry {
        float: left;
        // margin-left: 5 (firefoxでthが崩れすから修正した_1)
        margin-left: 0%;
        .st-Footer_LogoWrapper {
          margin-bottom: 30px;
        }

        .btn_EntryWrapper {
          width: 190px;
        }
      }
    }
  }

  .st-Footer_WrapperBottom {
    padding-right: 72px;

    .st-Footer_Totop {
      position: relative;
      display: inline-block;
      border: solid 2px #6877b9;
      border-radius: 20px;
      float: left;

      &:hover {
        border: solid 2px #fff;
        transition: 0.3s ease-out;
      }

      a {
        display: block;
        padding: 9px 31px 9px 31px;
        font-size: 12px;
        text-decoration: none;
        letter-spacing: 0.5px;
        color: #fff;

        .external-Link {
          width: 12px;
          height: 9px;
          margin-bottom: 1px;
          margin-left: 6px;
          font-size: 12px;

          fill: #fff;
        }

        // &:before {
        //   position: absolute;
        //   top: 11px;
        //   left: 27px;
        //   display: inline-block;
        //   content: "\f108";
        //   font-family: FontAwesome;
        // }
      }
    }

    .st-Footer_Sns {
      $st-Footer_Sns_font-size: 13px;
      $h: $st-Footer_Sns_font-size;
      $bw: 1px;

      text-align: right;
      padding-top: 6px;

      p {
        position: relative;
        font-size: $h;
        line-height: $h;
        white-space: nowrap;
        overflow: hidden;
        display: inline;
        letter-spacing: 1px;

        &::after {
            content: "";
            display: inline-block;
            position: relative;
            width: 4%;
            height: $bw;
            left: 0;
            bottom: $h / 3 - $bw;
            background-color: #6877b9;
            margin-left: 10px;
        }
      }
      a {
        text-decoration: none;

        .fa {
          font-size: 20px;
          display: inline;
          margin-left: 10px;
          padding-top: 3px;
          color: #fff;
        }
      }
    }
  }
}

@include max-screen($BREAK_POINT_PC_1500) {
  .st-Footer {
    // (firefoxでthが崩れすから修正した_3)
    padding: 140px 8% 70px;
    .st-Footer_WrapperTop {

      .st-Footer_TableWrapper {

        .st-Footer_Table {
          width: 100%;

          .st-Footer_Tr {
            .st-Footer_Th {
              width: 29%;
              padding-bottom: 22px;
              font-size: 13px;
              text-align: left;
              color: #6877b9;
            }
            .st-Footer_Td {
              position: relative;
              padding-bottom: 12px;
              padding-left: 19px;
              font-size: 12px;
              color: #fff;

              a {
                text-decoration: none;
                color: #fff;
              }

              &:before {
                top: -1px;
                left: 0;
                padding-left: 1px;
                font-size: 15px;
                display: block;
                width: 17px;
              }
            }
          }
        }
        .st-Footer_LogoEntry {
          display: block;
          width: 100%;
          margin-left: 0%;
          margin-top: 50px;

          .st-Footer_LogoWrapper {
            margin-bottom: 30px;
            float: left;
          }

          .btn_EntryWrapper {
            width: 190px;
            float: right;
          }
        }
      }
    }

    .st-Footer_WrapperBottom {
      padding-right: 0;

      .st-Footer_Totop {
        position: relative;
        display: inline-block;
        border: solid 2px #6877b9;
        border-radius: 20px;
        float: left;

        a {
          display: block;
          padding: 9px 31px 9px 31px;
          font-size: 12px;
          text-decoration: none;
          letter-spacing: 0.5px;
          color: #fff;

          // &:before {
          //   position: absolute;
          //   top: 11px;
          //   left: 27px;
          //   display: inline-block;
          //   content: "\f108";
          //   font-family: FontAwesome;
          // }
        }
      }

      .st-Footer_Sns {
        $st-Footer_Sns_font-size: 13px;
        $h: $st-Footer_Sns_font-size;
        $bw: 1px;

        text-align: right;
        padding-top: 6px;

        p {
          position: relative;
          font-size: $h;
          line-height: $h;
          white-space: nowrap;
          overflow: hidden;
          display: inline;
          letter-spacing: 1px;

          &::after {
              content: "";
              display: inline-block;
              position: relative;
              width: 4%;
              height: $bw;
              left: 0;
              bottom: $h / 3 - $bw;
              background-color: #6877b9;
              margin-left: 10px;
          }
        }
        a {
          text-decoration: none;

          .fa {
            font-size: 20px;
            display: inline;
            margin-left: 10px;
            padding-top: 3px;
            color: #fff;
          }
        }
      }
    }
  }
}

@include max-screen($BREAK_POINT_SP_iPhone6) {
  .st-Footer {
    padding: 76px 9% 40px;
    .st-Footer_WrapperTop {

      .st-Footer_TableWrapper {

        .st-Footer_Table {
          display: none;
        }
        .st-Footer_LogoEntry {
          display: block;
          width: 100%;
          margin-left: 0%;
          margin-top: 0px;

          .st-Footer_LogoWrapper {
            margin-bottom: 30px;
            float: none;
            text-align: center;
          }

          .btn_EntryWrapper {
            width: 190px;
            float: none;
            margin: 0 auto;
          }
        }
      }
    }

    .st-Footer_WrapperBottom {
      padding-top: 30px;
      padding-right: 0;

      .st-Footer_Totop {
        position: relative;
        display: inline-block;
        border: solid 2px #6877b9;
        border-radius: 20px;
        float: left;

        a {
          display: block;
          padding: 7px 24px 7px 24px;
          font-size: 11px;
          text-decoration: none;
          letter-spacing: 0.5px;
          color: #fff;

          .external-Link {
            width: 12px;
            height: 9px;
            margin-bottom: 0px;
            margin-left: 6px;
            font-size: 12px;

            fill: #fff;
          }


          // &:before {
          //   position: absolute;
          //   top: 9px;
          //   left: 19px;
          //   display: inline-block;
          //   content: "\f108";
          //   font-family: FontAwesome;
          // }
        }
      }

      .st-Footer_Sns {
        $st-Footer_Sns_font-size: 12px;
        $h: $st-Footer_Sns_font-size;
        $bw: 1px;

        text-align: right;
        padding-top: 6px;

        p {
          position: relative;
          font-size: $h;
          line-height: $h;
          white-space: nowrap;
          overflow: hidden;
          display: inline;
          letter-spacing: 1px;

          &::after {
              content: "";
              display: inline-block;
              position: relative;
              width: 4%;
              height: $bw;
              left: 0;
              bottom: $h / 3 - $bw;
              background-color: #6877b9;
              margin-left: 10px;
          }
        }
        a {
          text-decoration: none;

          .fa {
            font-size: 19px;
            display: inline;
            margin-left: 5px;
            padding-top: 3px;
            color: #fff;
          }
        }
      }
    }
  }
}

.copyright {
  padding: 24px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background-color: #021878;
}
